@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.wrapper {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}
html {
  background-color: #142832;
}

label {
  font-weight: 600;
}
.Question-form p {
  margin: 10px;
  font-size: large;
  font-weight: 600;
}
.Question-form input::placeholder {
  font-weight: 600;
}
.side-menu{
  z-index:9999;
}